@media screen and (max-width:420px){
    .third-outer-container{
        padding:10px;
        background-color:#FFCFEF;
        min-height:100vh;
        color:#A64D79;
    }


    .third-heading{
        font-size:20px;
        margin-top:80px;
    }
}