@media screen and (max-width:420px){
    .home-outer-container{
        padding:10px;
        color:#A64D79;
        background-color:#FFCFEF;
        
    }

    .home-heading{
        margin-top:80px;
        font-size:20px;
    }
}