

@media screen and (max-width:480px){
    .home-outer-container{
        padding:10px;
        color:#A64D79;
        min-height:100vh;
        text-align:center; 
        
    }

    .slider-image{
        height:250px;
        width:100%;
        border-radius:10px;
    }

    

    .slider-image-12{
        height:250px;
        width: 60%;
        margin:auto;
        border-radius: 10px;
    }

    .home-heading{
        margin-top:80px;
        font-size:20px;
        text-align:center;
    }

    .view-more-home-button{
        height:40px;
        width:100px;
        border-radius:10px;
        border:1px solid pink;
        background-color:#dc78aa;
        color:#ffffff;
        margin-top:50px;
    }
}