@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

@media screen and (max-width:480px){
    *{
        box-sizing:border-box;
    }

    .nav-container{
        display:flex;
        flex-direction:column;
        width:100vw;
        margin-bottom:0px;
        box-shadow:0px 0px 5px 1px;
        position:fixed;
        height:75px;
        top:0;
        color:#A64D79;
        background-color:#f8daea;
    }

    .first-container{
        display:flex;
        flex-direction:row;
        width:100%;
        justify-content:space-between;
        align-items:center;
    }

    .nav-heading{
        font-size:25px;
        text-decoration:none;
        color:#A64D79;
        margin-left:10px;
        font-family:lobster ;
    }

    .link-heaing{
        text-decoration:none;
    }

    .icon-container{
        display:flex;
        justify-content:center;
        align-items: center;
        margin-right:10px;
    }

    .second-container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center; 
        margin-top:1px solid black;
        background-color:#ffffff;
    }

    .nav-link{
        text-decoration:none;
        width:50%;
        border:1px solid #A64D79;
        display:flex;
        justify-content:center;
        align-items:center;
        padding-top:10px;
        color:#A64D79;
        border-radius:5px;
        background-color: #FFEAEA;
    }

    .month-para{
        margin:0px;
        margin-bottom:15px;
       
    }

    .icon-nav{
        font-size:25px;
    }
}
