@media screen and (max-width:420px){
    *{
        box-sizing:border-box;
    }

    .nav-container{
        display:flex;
        flex-direction:column;
        width:100vw;
        margin-bottom:0px;
        box-shadow:0px 0px 5px 1px;
        position:fixed;
        height:75px;
        background-color:white;
        top:0;
    }

    .first-container{
        display:flex;
        flex-direction:row;
        width:100%;
        justify-content:space-between;
        align-items:center;
    }

    .nav-heading{
        font-size:25px;
        text-decoration:none;
        color:#000000;
        margin-left:10px;
    }

    .link-heaing{
        text-decoration:none;
    }

    .icon-container{
        display:flex;
        justify-content:center;
        align-items: center;
        margin-right:10px;
    }

    .second-container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center; 
        background-color:#ffffff;
        padding:10px;
        margin-top:1px solid black;
    }

    .nav-link{
        text-decoration:none;
        width:50%;
    }

    .month-para{
        margin:0px;
        margin-bottom:15px;
       
    }

    .icon-nav{
        font-size:25px;
    }
}
