@media screen and (max-width:420px){
    .seventh-heading{
        margin-top:80px;
        font-size:20px;
        
    }

    .seventh-outer-container{
        padding:10px;
        min-height:100vh;
        color:#A64D79;
    }
}